shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*typescript-eslint*
public-hoist-pattern[]=*@typescript-eslint*
